
p1{
  position: absolute;
  left: 1190px;
  font-size: 130%;
}
p2{
  position: absolute;
  left: 1340px;
  font-size: 130%;
}
p3{
  position: absolute;
  left: 1490px;
  font-size: 130%;
}

bl{
  background-color: #2d3f50;
 padding: 30px 1550px 25px 15px;
 border-radius: 2%;
 position: absolute;
}
e1{
   background-color: #f7faf9;
 padding: 10px 410px 100px 20px;
 border-radius: 2%;
  position: absolute;
   bottom:64%;
  left:55%;

}
e2{
  position: absolute;
  bottom:70%;
  left:56.2%;
}

size1{
  font-size: 170%;
}
pb{
  position: absolute;
  left: 700px;
  bottom: 45px;
}
pb2{
  position: absolute;
  left: 820px;
  bottom: 45px;
}
pb3{
  position: absolute;
  left: 600px;
  bottom: 30px;
}
imgm{
 position: fixed;
  bottom: 57%;
  left: 12%;
border-style: solid;
border-color: black;
}
a:hover {
  color: #18a183;
}
psi{
  bottom:80%;
  left:55%;
  font-size:140%;
 background-color: #e3e6e5;
 padding: 10px 450px 10px 15px;
 border-radius: 2%;
 position: absolute;
}
logn{
    bottom:60%;
  left:55%; 
  background-color:#2d3f50;
   padding: 20px 250px 15px 300px;
    border-radius: 4%;
   position:absolute;
}

