
p1{
  position: absolute;
  left: 1250px;
  /*top: 20px;*/
}
p2{
  position: absolute;
  left: 1400px;
  /*top: -10px;*/
  font-size: 100%;
}
p3{
  position: absolute;
  left: 1550px;
  /*top: -10px;*/
  font-size: 100%;
}
p4{
  position: absolute;
  left: 1250px;
  /*top: -10px;*/
  font-size: 100%;
}
bl{
  background-color: #2d3f50;
 padding: 30px 1750px 25px 15px;
 border-radius: 2%;
 position: absolute;
 /*top: 10px;*/
}
e1{
  position: absolute;
  left: 500px;
  top: 450px;
}
e2{
  position: absolute;
  left: 500px;
  top: 500px;
}
center {
   /*position: absolute;*/
    /*margin: auto;*/
    /*top: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    /*left: 0;*/
    /*width: 100px;*/
    /*height: 100px;*/
    background-color: #003366;
    border-radius: 10%;
    /*box-shadow: 35px 1750px 30px 20px ;*/
    
  }
size1{
  font-size: 150%;
  /*font color: white;*/
}
pb{
  position: absolute;
  left: 600px;
  top: 100;
}
imgm{
 position: fixed;
  bottom: 57%;
  left: 12%;
border-style: solid;
border-color: black;
}
a:hover {
  color: lightblue;
}