h3{
background-color: blue;
}
h2{
background-color: blue;
}
div {
  background-color: blue;
}
/*bottem{*/
/* margin-top: 100px;*/
/*  margin-bottom: 10px;*/
/*  margin-right: 150px;*/
/*  margin-left: 80px;*/
/*  background-color: white;*/
/*}*/
background1 {
  height: 200px;
  width: 50%;
  background-color: blue;
}
size1{
  font-size: 150%;
}